<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.huanxin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    

    <application
        android:name="com.itheima.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 主页 -->
        <activity
            android:name="com.itheima.huanxin.MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 开屏页 -->
        <activity
            android:name="com.itheima.huanxin.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 登陆 -->
        <activity
            android:name="com.itheima.huanxin.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 注册 -->
        <activity 
            android:name="com.itheima.huanxin.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 添加好友(第一个界面) -->
        <activity 
            android:name="com.itheima.huanxin.AddFriendsOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 添加好友(第二个界面) -->
        <activity 
            android:name="com.itheima.huanxin.AddFriendsTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 添加好友(最后一个界面) -->
        <activity 
            android:name="com.itheima.huanxin.AddFriendsFinalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 发起群聊  -->
        <activity 
            android:name="com.itheima.huanxin.CreateChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity> 
        
        <!-- 详细资料 -->
        <activity 
            android:name="com.itheima.huanxin.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 新的朋友界面 -->
        <activity 
            android:name="com.itheima.huanxin.NewFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 群聊界面 -->
        <activity 
            android:name="com.itheima.huanxin.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 聊天界面 -->
        <activity 
            android:name="com.itheima.huanxin.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
        </activity>
        
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="itheima43#huanxinapp" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
    </application>

</manifest>
